<section class="content-header">
        <h1>
            出品管理
<!--            <small>出品一覧</small>-->
        </h1>
        <ol class="breadcrumb">
            <li>ホーム</li>
            <li class="active"><b>商品出品設定</b></li>
        </ol>
    </section>


    <section class="content">
        <div class="row" id="list_container" name="list_container">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">商品出品設定</h3>
                        <!-- <a type="button" class="btn btn-primary" href="/user-products/product_add_local">
                            <span class="glyphicon glyphicon-plus"></span>新規登録
                        </a> -->
                    </div>

            <%= form_tag(account_exec_re_exhibit_path, method: :post) do %>
                <%#= select_tag 'note[point]', options_for_select(["全て再出品", "コメントのある商品以外再出品"]) %>
　　　    <%= select_tag(:re_exhibit, options_for_select([ ["全て再出品（全ての既存の商品を削除して同じ商品を再出品）", "1"],
                         ["コメントのある商品以外再出品（コメントある商品は再出品せず、それ以外再出品）", "2"]] ))  %>

                        <!-- <select name="republish-all" onchange="updateRepublish(this);" onfocus="this.selectedIndex=-1;">
                            <option value="3">コメントのある商品停止</option>
                            <option value="2">重複出品</option>
                            <option value="1">再出品する</option>
                            <option value="0">再出品しない</option>
                            <option value="-1">コメントのある商品重複</option>
                        </select> -->
                    <div class="box-footer text-right">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- <button type="button" onclick="RemoveCheckedProduct()" class="btn btn-danger btn-sm pull-left" style="margin-left: 15px" data-style="zoom-in">
                                    再出品実行
                                </button> -->
                                <%= submit_tag "再出品実行" , {:class => 'btn btn-danger btn-sm pull-left' ,  :style => "margin-left: 15px"} %>
                            </div>
                        </div>
                    </div>
            <% end %>



                    <div id="loading_overlay" class="overlay" style="display: none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>

                </div>
            </div>
        </div>
    </section>
