

<section class="content-header">
<h1>
    オタマートアカウント編集
</h1>
<ol class="breadcrumb">
    <li>ホーム</li>
    <li class="active"><b>パスワード変更</b></li>
</ol>
</section>

<!-- Main content -->
<section class="content">
<div class="row" id="list_container" name="list_container">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">オタマートアカウント変更</h3>
            </div>

            <div class="box-body table-responsive  with-border" id="main_tbl_wrap" name="main_tbl_wrap">
                <div class="alert alert-warning col-xs-7" style="float: none; margin: 0 auto 20px; display: none;">

                </div>

                <div class="alert alert-info col-xs-7" style="float: none; margin: 0 auto 20px; display: none;">
                    <p style="font-size: 16px;">
                        オタマートアカウントを変更しました。
                    </p>
                </div>


                <%= render 'form' %>

                    <!-- <form method="post" accept-charset="utf-8" class="form-horizontal col-xs-11" id="change_password_form" action="change-password.html"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>
                        <div class="form-group">
                        <label class="col-xs-4 control-label">現在のパスワード</label>
                        <div class="col-xs-7">
                            <input type="password" name="current_password" class="form-control input-sm" id="current-password"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 control-label">新しいパスワード</label>
                        <div class="col-xs-7">
                            <input type="password" name="password1" class="form-control input-sm" id="password1"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 control-label">新しいパスワード（確認）</label>
                        <div class="col-xs-7">
                            <input type="password" name="password2" class="form-control input-sm" id="password2"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <button type="submit"  id="change_record" name="change_record" style="margin:0 auto; display:block;" class="btn btn-success ladda-button pull-center"><i class="fa fa-save"></i> セーブ</button>
                    </div>
                   </form> -->

            </div>

            <div id="loading_overlay" class="overlay" style="display: none;">
                <!--                        <img class="fa" src="./images/lib/ajax-loader1.gif">-->
                <!-- <i class="fa fa-refresh fa-spin"></i> -->
            </div>
        </div>
    </div>
</div>
</section>
